<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        Lista de Eventos
        <%= link_to "Novo Evento", new_event_path, class: 'btn btn-sm btn-primary pull-right' %>
      </div>  
        
        <table class="panel-body table table-striped">
          
          <% @events.each do |event| %>
              <tr>
                <td ><%= event.name %></td>
                <td class="text-right"><%= link_to 'Ver Alunos', event, class: 'btn btn-default' %>
                    <%= link_to 'Editar', edit_event_path(event), class: 'btn btn-default' %>
                    <%= link_to 'Excluir', event, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          
        </table>    

    </div>
  </div>
</div>    
